body {
  margin: 1em 1em;
  background-color: #FFFACD;
}

.blocklyText, .blocklyTreeLabel {
  fill: #666 !important;
}

body, code, button, select, .blocklyText, .blocklyTreeLabel {
  font-family: 'Computer Modern Concrete', 'Computer Modern Serif', 'C059', 'Palatino', 'Garamond', 'Bookman', 'Georgia', 'Didot', 'Times New Roman', serif !important;
}

.blocklyToolboxDiv {
  background-color: #F0FFF0;
}

.blocklySvg {
  background-color: #fddde6;
}

div#blocklyContainer {
    padding-top: 5px;
    height: 585px;
    width: 975px;
}

div#blkEdit {
  margin-top: 1em;
}

div#blkMenu {
  margin-bottom: 5px;
}

div#blkCtl {
  position: absolute;
  top: 0px;
  left: 995px;
  width: 350px;
}

div#blkNotes {
  width: 100%;
  font-size: 11pt;
  height: 585px;
  border: 1px dotted;
  overflow-y: auto;
}

div#blkNotes a {
  color: grey;
}

div#blkNotes p {
  margin: 0.85em 0.15em;
}

div#blkUi {
  margin-left: 1em;
}

button {
  background-color: #FFFACD;
  border: 1px dotted;
}

select {
  background-color: #FFFACD;
  border: 1px dotted;
}

input[type='range'] {
  width: 100%;
}

input[type='checkbox'] {
}

details#blkSwB > div > button {
    padding: 0.75em;
}

h1 {
  font-size: 1em;
}
