@import url(./font/Concrete/cmun-concrete.css);

:root {
	--font-family:
		'Computer Modern Concrete',
		'Palatino', 'Garamond', 'Bookman', 'Georgia', 'Didot', 'Times New Roman', serif
		!important;
	--fragment-colour: #98ece8; /* #98ece8 #fff */
	--outline-colour: #f6d4f6; /* #f6d4f6 #000 */
	--paper-colour: #fffacd; /* #fffacd #fff */
	--text-colour: #424242; /* #424242 #000 */
	--toolbox-colour: #f0fff0; /* #f0fff0 #fff */
	--workspace-colour: #fddde6; /* #fddde6 #fff */
}

body {
	background-color: var(--paper-colour);
	margin: 1em 1em;
}

body, button, code, select, span {
	font-family: var(--font-family);
}

button, select {
	background-color: var(--paper-colour);
	border: 1px dotted;
}

button:focus, select:focus {
	outline: 1px solid #999;
}

code {
	font-style: italic;
}

h1, h2 {
	font-size: 1em;
}

input[type='search'] {
	width: 7em;
}

input[type='range'] {
	width: 100%;
}

input[type='checkbox'] {}

pre {
	background-color: var(--fragment-colour);
	font-family: var(--font-family);
	margin: 0 0 0 0;
	padding: 1em 1em 0em 1em;
	tab-size: 4;
}

details#blkSwB > div > button {
	padding: 0.75em;
}

div#blkEdit {
	height: 7.5vh;
	position: absolute;
	top: 91.5vh;
}

div#blkMenu {
	margin-bottom: 5px;
}

div#blkNotes {
	border: 1px dotted;
	font-size: 11pt;
	height: 87.5vh;
	left: 78.75vw;
	overflow-y: auto;
	position: absolute;
	top: 20px;
	width: 20vw;
}

div#blkNotes a {
	color: var(--text-colour);
}

div#blkNotes p {
	margin: 0.85em 0.15em;
}

div#blkUi {
	margin-left: 1em;
}

div#blocklyContainer {
	height: 87.5vh;
	padding-top: 5px;
	width: 77.5vw;
}

#guideMenu {}

#statusText {
	border: 1px dotted #ccc;
	display: inline-block;
	width: 75px;
}

.blocklyDropdownRect {
	stroke: var(--outline-colour) !important;
}

.blocklyIconShape {
	fill: var(--fragment-colour);
	stroke: var(--text-colour);
}

.blocklyPath {
	stroke: var(--outline-colour);
}

.blocklySvg {
	background-color: var(--workspace-colour);
}

.blocklyText, .blocklyTreeLabel {
	fill: var(--text-colour) !important;
	font-family: var(--font-family);
}

.blocklyToolboxDiv {
	background-color: var(--toolbox-colour);
}

.blocklyTreeIcon {
	filter: opacity(25%); /* the icon is an image, soften it */
}

/*
.blocklyCommentTopbarBackground .blocklyCommentText {
	background-color: var(--toolbox-colour) !important;
}
*/
