body {
  margin: 1em 2em;
  background-color: #FFFACD;
}

.blocklyText, .blocklyTreeLabel {
  fill: #666 !important;
}

body, button, select, .blocklyText, .blocklyTreeLabel {
  font-family: 'Computer Modern Concrete', 'Computer Modern Serif', 'C059', 'Palatino', 'Garamond', 'Bookman', 'Georgia', 'Didot', 'Times New Roman', serif !important;
}

.blocklyToolboxDiv {
  background-color: #F0FFF0;
}

.blocklySvg {
  background-color: #fddde6;
}

div#blkEdit {
  margin-top: 1em;
}

div#blkCtl {
  position: absolute;
  top: 15px;
  left: 1550px;
  width: 350px;
}

div#blkNotes {
  width: 100%;
  height: 55em;
  border: 1px dotted;
}

div#blkNotes a {
  color: grey;
}

button {
  background-color: #FFFACD;
  border: 1px dotted;
}

select {
  background-color: #FFFACD;
  border: 1px dotted;
}

input[type='range'] {
  width: 100%;
}

details#blkSwCc > div > button {
  padding: 0.75em;
}

h1 {
  font-size: 1em;
}

