body {
  margin: 1em 2em;
  background-color: #FFFACD;
}

.blocklyText {
  /*fill: #666 !important;*/
}

.blocklyToolboxDiv {
  background-color: #F0FFF0;
}

.blocklySvg {
  background-color: #fddde6;
}

#controlDiv {
  margin-top: 1em;
}

button {
  background-color: #FFFACD;
  border: 1px dotted;
}

select {
  background-color: #FFFACD;
  border: 1px dotted;
}
